<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{summary}}</p>
                <a href={{link}} target="_blank" class="card-link">{{link}}</a><br>
                <button type="button" class="btn btn-dark delete" data-id={{_id}}>Delete From Saved</button>
                <button type="button" class="btn btn-dark notes" data-id={{_id}}>View Notes</button>
            </div>
        </div>
    </div>
</div>
